@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
input{
    display: block;
    width: 300px ;
    height: 35px;
    margin-right: 10px;
}
.maindiv-half{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}
.half-1{
    width: 70%;
}
.half-1 img{
    width: 70%;
    display: flex;
    margin-left: 100px;
}


.btn{
    background-color: rgb(1, 1, 47);
    color: white;
    padding: 10px 30px;
    border:2px solid transparent;
    margin-right: 10px;
}
.btn:hover{
    background-color: white;
    color:rgb(1, 1, 47) ;
    border: 2px solid black;
    border-radius: 2px;
}
.btn-1{
    background-color: white;
    color: black;
 padding: 10px 30px;
    border: 2px solid black;

}
.btn-1:hover{
    background-color:rgb(1, 1, 47) ;
    color:white;
    border:2px solid transparent ;
    border-radius: 2px;
}
.title-1{
    color:rgba(12, 12, 114, 0.842) ;
    text-align: center;
}


.maindiv-half-2{
    display: flex;
    margin-top: 100px;
    align-items: center;
}  
.half-2{
    width: 70%;
}
.half-2 img{
    width: 70%;
    display: flex;
    align-items: center;
    margin-right: 100px;
}


.maindiv-half-3{
    display: flex;
    margin-top: 100px;
}
.half-3{
    width: 70%;
}
.half-3 img{
    width: 70%;
    display: flex;
    margin-right: 100px;
}


.maindiv-half-4{
    display: flex;
    margin-top: 100px;
}
.half-4{
    width: 70%;
}
.half-4 img{
    width: 70%;
    display: flex;
    align-items: center;
    margin-right: 100px;
}


.maindiv-half-5{
    display: flex; 
    margin-top: 100px;
}
.half-5{
    width: 70%;
}
.half-5 img{
    width: 70%;
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.title-2{
    color:black ;
    text-align: center;
}
.paragraph-1{
    color: rgb(32, 55, 131);   
}
.half-7{
    color: rgb(1, 1, 47);
}
.half-7{
   padding: 30px;
   margin-bottom: 80px;
}
.lorem{
    text-align: center;
    width: 100%;
}

.email-section{
    display: flex;  
justify-content: center;  
margin: 60px;
}


.maindiv-half-7{
  padding: 10px 30px;
  align-items: center;
  background-color:rgba(115, 92, 145, 0.637) ;
  
}
       .copy{
     text-align: center;
            color: rgba(25, 56, 156, 0.863);
        }
  .web{
      color: rgb(32, 55, 131);
  }
 
  .maindiv-half-6{
display: flex;
justify-content: center;
align-items: center;
      background-color:rgba(115, 92, 145, 0.637);
  }
 .up{
     margin-bottom: 50px;
 }
 .footer-container{
display: flex;
justify-content: space-between;
align-items: center;
 }
 .half-6{
     width: 60%;
 }